<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/home">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="/admin/attendance">
        <i class="bi bi-person-check"></i>
        <span>Attendance</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Customer</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/customer/add">
            <i class="bi bi-circle"></i><span>Add Customer</span>
          </a>
        </li>
        <li>
          <a href="/admin/customer/table">
            <i class="bi bi-circle"></i><span>List Customer</span>
          </a>
        </li>
        <li>
          <a href="/admin/customer/update">
            <i class="bi bi-circle"></i><span>Update Customer</span>
          </a>
        </li>

        <li>
          <a href="/admin/customer/payments">
            <i class="bi bi-circle"></i><span>Payments</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#guest-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-ubuntu"></i><span>Guest</span><i class="bi bi-chevron-down  ms-auto"></i>
      </a>
      <ul id="guest-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/guest/add">
            <i class="bi bi-circle"></i><span>Add Guest</span>
          </a>
        </li>
        <li>
          <a href="/admin/guest/table">
            <i class="bi bi-circle"></i><span>List Guest</span>
          </a>
        </li>
      </ul>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#sub-nav" data-bs-toggle="collapse" href="#">
        <i class='bx bxs-wallet-alt'></i><span>Subscription</span><i class="bi bi-chevron-down  ms-auto"></i>
      </a>
      <ul id="sub-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/subscription/show">
            <i class="bi bi-circle"></i><span>Show subscription</span>
          </a>
        </li>
        <li>
          <a href="/admin/subscription/renew">
            <i class="bi bi-circle"></i><span>Renew subscription</span>
          </a>
        </li>
        <li>
          <a href="/admin/subscription/status">
            <i class="bi bi-circle"></i><span>Change Status</span>
          </a>
        </li>
      </ul>
    </li><!-- End Dashboard Nav -->
     <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/reports">
        <i class='bx bxs-report'></i>
        <span>Reports</span>
      </a>
    </li><!-- End Dashboard Nav -->
  </ul>

</aside>
<!-- End Sidebar-->

<main class="main" id="main">
  <section class="section">
    <div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Attendance</h5>
              {{#if success}}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle me-1"></i>
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {{/if}}

              {{#if err}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-octagon me-1"></i>
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {{/if}}
              <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>

              {{#if modal}}
              <div class="modal fade" id="basicModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Basic Modal</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">{{message}}</div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div><!-- End Basic Modal-->
              <script>
                $(document).ready(() => $('#basicModal').modal('show'));
              </script>
              {{/if}}

              <form action="/admin/attendance/mark" method="get">
                <div class="row mb-4">
                  <div class="col-sm">
                    <div class="row mb-2">
                      <div class="col-sm-3">
                        <label for="ugnumber" class="col-form-label">UG Number</label>
                      </div>
                      <div class="col-sm">
                        <div class="input-group">
                          <input type="text" class="form-control" id="ugnumber" name="ugnumber" autofocus>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="d-none" id="currentDateTimeISO" name="currentDateTimeISO" />
                  <div class="row mb-3">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary" id='submitBtn'>Mark Attendance</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script type="module">
  import { DateTime } from 'https://cdn.jsdelivr.net/npm/luxon@3.2.1/+esm';

  const ugnumber = document.querySelector('#ugnumber');
  const currentDateTimeISO = document.querySelector('#currentDateTimeISO');
  currentDateTimeISO.value = DateTime.now().toISO();

  ugnumber.addEventListener('input', (ev) => {
    if (ugnumber?.value)
      ugnumber.value = ugnumber.value.toUpperCase();
  });

</script>
