<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/home">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/attendance">
        <i class="bi bi-person-check"></i>
        <span>Attendance</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Customer</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/customer/add">
            <i class="bi bi-circle"></i><span>Add Customer</span>
          </a>
        </li>
        <li>
          <a href="/admin/customer/table">
            <i class="bi bi-circle"></i><span>List Customer</span>
          </a>
        </li>
        <li>
          <a href="/admin/customer/update" class="active">
            <i class="bi bi-circle"></i><span>Update Customer</span>
          </a>
        </li>

        <li>
          <a href="/admin/customer/payments">
            <i class="bi bi-circle"></i><span>Payments</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#guest-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-ubuntu"></i><span>Guest</span><i class="bi bi-chevron-down  ms-auto"></i>
      </a>
      <ul id="guest-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/guest/add">
            <i class="bi bi-circle"></i><span>Add Guest</span>
          </a>
        </li>
        <li>
          <a href="/admin/guest/table">
            <i class="bi bi-circle"></i><span>List Customer</span>
          </a>
        </li>
      </ul>
    </li><!-- End Dashboard Nav -->
  </ul>

</aside>
<!-- End Sidebar-->

<main id="main" class="main">

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Update Customer Profile</h5>

            {{#if success}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1"></i>
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}

            {{#if err}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <i class="bi bi-exclamation-octagon me-1"></i>
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}

            <script type="module">
              // setTimeout(() => document.querySelectorAll('button[data-bs-dismiss=alert]').forEach(b => b.click()), 3500);
            </script>

            <!-- General Form Elements -->
            <form action="/admin/customer/update/show" method="get">
              <div class="row mb-3">
                <label for="ugnumber" class="col-sm-2 col-form-label">UG number</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ugnumber" name="ugnumber" maxlength="20" required
                    placeholder="Customer UG number" style="text-transform: uppercase;" value="" autofocus />
                  <div class="invalid-feedback">Does not exists</div>
                  <div class="valid-feedback"></div>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Submit Button</label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Submit</button>
                </div>
              </div>
              <script type="module">
                const ugnumber = document.getElementById('ugnumber');
                const btn = document.getElementById('submitBtn');

                ugnumber.addEventListener('change', async (ev) => {
                  try {
                    const res = await fetch(`/admin/customer/exists?ugnumber=${ugnumber.value}`);

                    if (!res.ok) {
                      alert('Error While Connecting Server');
                      console.error(await res.text());
                      return;
                    }

                    const result = await res.json();

                    if (result.exists) {
                      btn.removeAttribute('disabled');
                      ugnumber.classList.add('is-valid');
                      ugnumber.classList.remove('is-invalid');
                    } else {
                      btn.setAttribute('disabled', 'disabled');
                      ugnumber.classList.remove('is-valid');
                      ugnumber.classList.add('is-invalid');
                    }
                  } catch (err) {
                    alert('Some error occured');
                    console.error(err);
                  }
                });
              </script>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
